/* Reset some default browser styles */
body, h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
}

/* Set a background color for the body */
body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

/* Style the header section */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Style the about section */
#about {
    background-color: #fff;
    padding: 40px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#about h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#about p {
    font-size: 16px;
    line-height: 1.5;
}

#about h3 {
    font-size: 20px;
    margin-top: 20px;
}

#about ul {
    list-style: disc;
    margin-left: 20px;
}

/* Style the education section */
#about ul li {
    margin-bottom: 10px;
}

/* Style the portfolio section */
#portfolio {
    background-color: #fff;
    padding: 40px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#portfolio h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.project {
    margin-top: 20px;
}

.project h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    line-height: 1.5;
}

.project a {
    color: #007bff;
    text-decoration: none;
}

/* Style the contact section */
#contact {
    background-color: #fff;
    padding: 40px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style the images in the portfolio section */
.project img {
    max-width: 80%;
    height: auto;
    margin-left: 10%;
    margin-bottom: 2%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
/* Rest of your CSS */

/* Style the navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    transition: top 0.3s;
    z-index: 1000;
}

.navbar h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Style the sticky navbar */
.navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
header img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: -1; /* Move the image behind the navbar */
}